<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="LOG_HOME" value="/var/www/logs" />
	<!-- 日志配置 -->
	<appender name="FILE_INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/runtime_info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>${LOG_HOME}/runtime_info-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 日志最大的历史 100天 -->
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<!-- 定义归档 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_HOME}/runtime_info.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>12</maxIndex>
		</rollingPolicy>
		<!-- 定义文件大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<!-- 格式化输出 -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread]%-5level%logger{36}-%msg%n</pattern>
		</encoder>
		<!-- 过滤器 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<!-- ERROR级别的文件输出(ZIP归档) -->
	<appender name="FILE_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/runtime_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>${LOG_HOME}/runtime_error-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 日志最大的历史 10天 -->
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<!-- 定义归档 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_HOME}/runtime_error.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>12</maxIndex>
		</rollingPolicy>
		<!-- 定义文件大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<!-- 格式化输出 -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]%-5level%logger{36}-%msg%n</pattern>
		</encoder>
		<!-- 过滤器 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<!-- 控制台日志配置 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>
</configuration>
